{{#formRowText}}
    <fieldset class="form-row  form-row--input-and-button">
        <div class="layout  layout--align-middle">
            <div class="layout__cell  layout__cell--fill">
                <div class="field-text  {{hasIcon}}">
                    <div class="field-text__icon">
                        &#128269;
                    </div>
                    {{>atoms-input-search}}
                </div>
            </div>
            <div class="layout__cell  layout__cell--fit">
                {{>atoms-button.submit}}
            </div>
        </div>
    </fieldset>
{{/formRowText}}
