@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $VARS
    Any variables you find set in your framework that you do not wish
    to keep, simply redefine here. This means that if the framework, for example,
    sets your `$base-font-size` at 16px and you wish it to be 14px, simply
    redeclare that variable in this file.
\*----------------------------------------------------------------------------*/

/*  $Responsive
\*----------------------------------------------------------------------------*/

$blocss-breakpoints: (
    'lap': '(min-width: 36em)', // 576px
    'desk': '(min-width: 50em)', // 800px
    'wall': '(min-width: 80em)' // 1300px
);

$blocss-use-flexbox: true;
$blocss-dimensions-divisions: 12;
$blocss-dimensions-breakpoint-has-units: ('lap', 'desk', 'wall');
$blocss-dimensions-name-units: 'u';
$blocss-enable-grid-rev: true;
$blocss-enable-grid-right: true;
$blocss-enable-grid-flush: true;
$blocss-enable-grid-narrow: true;
$blocss-enable-grid-wide: true;

$blocss-dimensions-breakpoint-has-fit: ('lap', 'desk', 'wall') !default;
$blocss-dimensions-breakpoint-has-fill: ('lap', 'desk', 'wall') !default;

/*  Typography
\*----------------------------------------------------------------------------*/

$font-base: Arial, sans-serif;
$icon-face: 'icomoon';
$blocss-base-font-size: 14px;
$blocss-base-line-height: 18px;


/*  Colors
\*----------------------------------------------------------------------------*/

$black: #000000 !default;
$white: #ffffff !default;
$gray: #5c5e5f !default;
$gray-light: #b8b8b8 !default;
$red: #b91602 !default;
$orange: #fb871e !default;

/*  Transitions
\*----------------------------------------------------------------------------*/

$default-transition-short: 0.2s !default;
$default-transition-medium: 0.6s !default;
$default-transition-long: 1s !default;

$default-timing-function: cubic-bezier(0.55, 0, 0.1, 1);

/*  Easing timing functions
\*----------------------------------------------------------------------------*/

$ease-swift: cubic-bezier(0.55, 0, 0.1, 1);
$ease-bounce: cubic-bezier(0.25, 1.5, 0.5, 1);

$default-border-radius: 3px;


$delta: 24px;
$epsilon: 18px;