<a href="#navigation" class="menu-toggle  js--mobile__icon" data-toggle-navigation>
    <span class="menu-toggle__glyph"><span></span></span>
    <span class="menu-toggle__label">World Of Warplanes</span>
</a>
