<section class="layer  layer--large">
    <div class="retain--site">
        <div class="visuallyhidden--max-lap">
            {{> molecules-primary-nav }}
        </div>
        <div class="visuallyhidden--desk">
            {{> molecules-primary-nav-mobile }}
        </div>
    </div>
</section>