<div class="tabs  js--tabs">
  <ul class="tabs__caption  js--tabs-caption  list-horizontal  list-clean">
    <li class="active">Вопросы и ответы</li>
    <li>Правила</li>
    <li>Безопасность</li>
  </ul>

  <div class="tabs__content  js--tabs--content  active">
  {{#contentTab1}}
    {{>atoms-heading}}
    <article class="columns  columns--lap">
     {{>atoms-paragraph}}
     {{>atoms-list-odered}}
    </article>
    {{/contentTab1}}
  </div>

  <div class="tabs__content  js--tabs--content">
  {{#contentTab2}}
    {{>atoms-heading}}
    {{>atoms-list-odered}}
  {{/contentTab2}}
  </div>

  <div class="tabs__content  js--tabs--content">
  {{#contentTab3}}
    {{>atoms-heading}}
    <div class="grid">
      <div class="grid__cell u-3-12--lap">
        <img src="//placehold.it/160x130" alt="image"/>
      </div>
      <div class="grid__cell u-9-12--lap">
        {{>atoms-paragraph}}
      </div>
    </div>
    {{/contentTab3}}
  </div>
</div>