/*----------------------------------------------------------------------------*\
    FIELD-TEXT
    A wrapper for an <input> showing an icon for the state
\*----------------------------------------------------------------------------*/



/*  Component
1: Generic style for icon position
\*----------------------------------------------------------------------------*/

.field-text {
    @include rem(margin-right, $blocss-space-small);
    &.has-icon {
        position: relative;
        .input-text {
            @include rem(padding-left, $blocss-space-small * 3);
        }

        .field-text__icon {
            display: block;
        }
    }
}


.field-text__icon {
    position: absolute;
    pointer-events: none;
    top: 50%;

    @include rem(left, $blocss-space-small);
    transform: translateY(-50%);
    display: none;
}