/*----------------------------------------------------------------------------*\
    NAVIGATION
    Component description
\*----------------------------------------------------------------------------*/

/*  Component
\*----------------------------------------------------------------------------*/

nav[role=navigation] {
    li.active {
        a {
            border-radius: $default-border-radius;
            background-color: $red;

            @include rem(padding, $blocss-space-tiny $blocss-space-small);
        }
    }
}

nav[role=navigation-mobile] {
    display: none;

    &.is-open {
        display: block;
    }

    li {
        a {
            color: $gray-light;
        }

        &.active {
            a {
                color: $white;
            }

            .icon-arrow {
                visibility: visible;
            }
        }
    }

    .icon-arrow {
        visibility: hidden;
    }
}