/*----------------------------------------------------------------------------*\
    TABS
    Component description
\*----------------------------------------------------------------------------*/

/*  Component
\*----------------------------------------------------------------------------*/

.tabs__caption {
    > li {
        display: inline-block;
        color: $orange;
        border-bottom: dotted 1px $orange;
        cursor: pointer;

        @include rem(font-size, $delta);

        &.active {
            border-bottom: none;
            color: $red;
            cursor: default;
        }
    }
}

.tabs__content {
    display: none;
}

.tabs__content.active {
    display: block;
}