{{#mainNav}}
<nav  role="navigation">
    <ul class="list-horizontal  list-clean">
        {{#mainNav.items}}
            <li class="{{is-active}}">
                <a href="#">{{text}}</a>
            </li>
        {{/mainNav.items}}
    </ul>
</nav>
{{/mainNav}}