{{#navMobile}}
    <div class="layer  layer--small">
        <div class="retain--site">
            <div class="layout  layout--gutter-large">
                <div class="layout__cell  layout__cell--fit">
                    {{> atoms-menu-toggle }}
                </div>
                <div class="layout__cell  layout__cell--fill">
                    <nav role="navigation-mobile">
                        <ul class="list-clean  list-inline">
                        {{#navMobile.items}}
                            <li class="sign--small  {{is-active}}">
                                <a href="#" class="layout  layout--gutter-small">
                                    <div class="layout__cell  layout__cell--fit">
                                        {{> atoms-icon-arrow }}
                                    </div>
                                    <div class="layout__cell  layout__cell--fill">
                                        {{text}}
                                    </div>
                                </a>
                             </li>
                        {{/navMobile.items}}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{{/navMobile}}