/*----------------------------------------------------------------------------*\
    BUTTON
    Default button and variants
\*----------------------------------------------------------------------------*/



/*  Component
\*----------------------------------------------------------------------------*/

button {
    display: inline;
    background-color: transparent;
    border: none;
    padding: 0;
}

.button {
    display: inline-block;

    @include rem(height, 38px);
    vertical-align: middle;
    text-align: left;
    line-height: normal;
    font-family: $font-base;
    text-transform: uppercase;
    appearance: none;
    color: $white;
    background-color: $black;
    opacity: 1;
    outline: 0;
    transition: $default-transition-short linear;
    transition-property: border, background-color, color;
    border-radius: $default-border-radius;

    @include rem(padding, $blocss-space-small $blocss-space);
    background-image: linear-gradient(to top, rgba(185, 22, 2, 0.99), rgba(252, 136, 28, 0.99));

    &:hover {
        background-image: linear-gradient(to bottom, #fb871e 52%, #b91602);
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.44);
    }
}