/*----------------------------------------------------------------------------*\
    CHECKBOX
    Component description
\*----------------------------------------------------------------------------*/



/*  Component
\*----------------------------------------------------------------------------*/

input[type="checkbox"] {
    display: none;

    &:checked + label::before {
        font-family: $icon-face;
        content: '\e876';
    }
}

input[type="checkbox"] + label {
    cursor: pointer;

    &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;

        @include rem(width, $blocss-space);
        @include rem(height, $blocss-space);
        @include rem(margin-right, $blocss-space-small);
        border: solid 1px $orange;
    }

    &:hover::before {
        border-color: $red;
        color: $red;
    }
}