/*----------------------------------------------------------------------------*\
    COLUMNS
    CSS column layout
\*----------------------------------------------------------------------------*/



/*  Component
\*----------------------------------------------------------------------------*/

.columns {
    @extend %module;
    column-count: 2;

    @include rem(column-gap, $blocss-space-large);
    @include rem(margin-bottom, $blocss-space);
}


/*  Type modifiers
\*----------------------------------------------------------------------------*/

.columns--lap {
    column-count: 1;

    @include media-query('lap') {
        column-count: 2;
    }
}