@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $FONTS
    @font-face references to various font files
\*----------------------------------------------------------------------------*/

/* icomoon */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icon/icomoon.eot');
    src: url('../fonts/icon/icomoon.eot&#iefix') format('embedded-opentype'),
        url('../fonts/icon/icomoon.woff') format('woff'),
        url('../fonts/icon/icomoon.ttf') format('truetype'),
        url('../fonts/icon/icomoon.svg&#icomoon') format('svg');
    font-weight: 500;
    font-style: normal;
}