/*----------------------------------------------------------------------------*\
    COMPONENT NAME
    Component description
\*----------------------------------------------------------------------------*/



/*  Component
\*----------------------------------------------------------------------------*/

%input-text,
.input-text {
    display: block;
    width: 100%;

    @include rem(height, 38px);
    border-radius: $default-border-radius;
    background-color: $white;

    @include rem(padding, $blocss-space-small);
    color: $gray;

    @include rem(font-size, $blocss-base-font-size);
    line-height: normal;
    box-shadow: none;
    outline: none;
    appearance: none;
    transition: all $default-transition-short linear;
    border: none;
    box-shadow: 0 2px rgba(0, 0, 0, 0.11), inset 0 2px 6px rgba(0, 0, 0, 0.49);

    &:focus {
        color: $black;
    }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $gray;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $gray;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $gray;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $gray;
}

::-ms-clear {
    width: 0;
    height: 0;
}

::-ms-reveal {
    width: 0;
    height: 0;
}

input[type=search] {
    box-sizing: border-box;
    appearance: none;
}