@charset "UTF-8";

/*----------------------------------------------------------------------------*\
    $LAYERS
\*----------------------------------------------------------------------------*/

.layer {
    @extend %cf;
}

/*  $Sizes
\*----------------------------------------------------------------------------*/


.layer--small {
    @include rem(padding, $blocss-space-small 0);
}

.layer--medium {
    @include rem(padding, $blocss-space 0 0);
}

.layer--large {
    @include rem(padding, $blocss-space 0 0);

    @include media-query(lap) {
        @include rem(padding, $blocss-space-large 0 $blocss-space);
    }
}