/*----------------------------------------------------------------------------*\
    LINK
    Default <a> styling
\*----------------------------------------------------------------------------*/

/*  Component
\*----------------------------------------------------------------------------*/

a {
    outline: none;
    text-decoration: none;
    color: $white;
    transition: color $default-transition-short linear;
}