/*----------------------------------------------------------------------------*\
    COMPONENT NAME
    Component description
\*----------------------------------------------------------------------------*/



/*  Component
\*----------------------------------------------------------------------------*/

.list-horizontal {
    @extend %list-clean;
    display: inline-flex;

    > * {
        @include rem(margin-right, $blocss-space);
        @include rem(padding-top, $blocss-space-small/2);

        &:last-of-type {
            margin-right: 0;
        }
    }
}