/*----------------------------------------------------------------------------*\
    LIST CHECKBOX
    Component description
\*----------------------------------------------------------------------------*/



/*  Component
\*----------------------------------------------------------------------------*/

.list-checkbox {
    height: 30vh;
    overflow: hidden;
    column-width: 6em;

    li {
        @include rem(margin-bottom, $blocss-space);
    }
}