/*----------------------------------------------------------------------------*\
    MENU-TOGGLE
    The button to toggle the mobile menu
\*----------------------------------------------------------------------------*/

/*  Component
\*----------------------------------------------------------------------------*/

.menu-toggle {
    display: block;

    @include rem(margin-bottom, $blocss-space);
}

.menu-toggle__glyph {
    display: inline-block;
    vertical-align: middle;

    @include rem(margin-right, $blocss-space-tiny);

    > span,
    &::before,
    &::after {
        display: block;
        margin: auto;

        @include rem(width, $blocss-space);
        @include rem(height, $blocss-space-tiny / 3);
        background-color: $white;
        transition: transform $default-transition-medium $ease-swift;
    }

    &::before,
    &::after {
        content: '';
    }

    &::before {
        @include rem(margin-bottom, 7px - $blocss-space-tiny / 3);
    }

    &::after {
        @include rem(margin-top, 7px - $blocss-space-tiny / 3);
    }
}

.menu-toggle {
    .navigation-is-open & {
        .menu-toggle__glyph {
            > span {
                transform: scaleX(0);
            }

            &::before {
                transform: translateY(7px) rotate(45deg);
            }

            &::after {
                transform: translateY(-7px) rotate(-45deg);
            }
        }
    }
}

.menu-toggle__label {
    vertical-align: middle;
}