@charset "UTF-8";

/*----------------------------------------------------------------------------*\
    $RETAINS
    These make sure we have some max-widths to use across our layout
\*----------------------------------------------------------------------------*/

/*  $Site
\*----------------------------------------------------------------------------*/

.retain--site {
    @include rem(max-width, 835px);
    @include rem(padding-left, $blocss-space-small);
    @include rem(padding-right, $blocss-space-small);
    margin-left: auto;
    margin-right: auto;
}

@include media-query(desk) {
    .retain--site {
        @include rem(padding-left, $blocss-space);
        @include rem(padding-right, $blocss-space);
    }
}