/*----------------------------------------------------------------------------*\
    SIGN
    Create vertical rhythm
\*----------------------------------------------------------------------------*/

/*  Component
\*----------------------------------------------------------------------------*/

.sign {
    @include rem(margin-bottom, $blocss-space);
}


.sign--small {
    @include rem(margin-bottom, $blocss-space-small);
}


.sign--tiny {
    @include rem(margin-bottom, $blocss-space-tiny);
}


.sign--large {
    @include rem(margin-bottom, $blocss-space-large);
}