@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    $TYPOGRAPHY
\*----------------------------------------------------------------------------*/

/*  Toplevel elements
\*----------------------------------------------------------------------------*/

html {
    font-family: $font-base;
    color: $white;
}

body {
    background-color: $black;
}

.normalis {
    @include rem(font-size, $blocss-base-font-size);
}

.delta {
    @include rem(font-size, $delta);
}

.epsilon {
    @include rem(font-size, $epsilon);
}

/*  Headings
\*----------------------------------------------------------------------------*/

h1 {
    @extend .epsilon;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: $blocss-base-line-height;
    font-weight: normal;

    @include rem(margin-bottom, $blocss-space);

    b {
        font-weight: bold;
    }
}

p {
    text-indent: 1.5em;
}

ol li {
    @include rem(margin-bottom, $blocss-space);
}