/*----------------------------------------------------------------------------*\
    VISUALLYHIDDEN
    Hides elements for certain breakpoint
\*----------------------------------------------------------------------------*/

/*  Component
\*----------------------------------------------------------------------------*/

@mixin visuallyhidden {
    position: absolute; // dit is nog een beetje spannend
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.visuallyhidden--max-lap {
    @include visuallyhidden;

    @include media-query(desk) {
        position: static; // dit is ook nog een beetje spannend
        overflow: visible;
        clip: auto;
        height: auto;
        width: auto;
    }
}

@include media-query(desk) {
    .visuallyhidden--desk {
        @include visuallyhidden;
    }
}