<section class="layer  layer--large">
    <div class="retain--site">
        <div class="grid">
            <div class="grid__cell  u-7-12--desk">
                {{> molecules-form-search }}
            </div>
        </div>
    </div>
</section>